<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD Secretaria</title>
  </head>
  <body>
    <h1>CRUD de Secretaria</h1>

    <form action="/editar_secretaria" method="POST">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" required />
      <br />
      
      <button type="submit" name="action" value="alterar">Alterar</button>
      <button type="submit" name="action" value="incluir">Incluir</button>
      <input type="hidden" id="id_Secretaria" name="id_Secretaria" />
    </form>
   
    <h2>Secretaria</h2>
    <table border="1">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% secretaria.forEach(function(Secretaria) { %>
        <tr>
          <td><%= Secretaria.nome %></td>
          <td>
            <button
              onclick="preencherFormulario('<%= Secretaria.nome %>', '<%= Secretaria.id_Secretaria %>')"
            >
              Editar
            </button>
           
            <form
              action="/excluir_secretaria/<%= Secretaria.id_Secretaria %>"
              method="POST"
            >
              <button type="submit">Excluir</button>
            </form>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <script>
      function preencherFormulario(nome, id_Secretaria) {
        document.getElementById("nome").value = nome;
        document.getElementById("id_Secretaria").value = id_Secretaria;
      }
    </script>
  </body>
</html>
