<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar Example</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Módulo Acadêmico
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/aluno">Cadastro de Alunos</a >
              <a class="dropdown-item" href="/avaliacao">Avaliações</a>
              <a class="dropdown-item" href="/aluno">Alunos</a>
              <a class="dropdown-item" href="/curso">Cadastro de Cursos</a >
              <a class="dropdown-item" href="/disciplinas">Cadastro de Disciplinas</a>
              <a class="dropdown-item" href="/turma">Cadastro de Turmas</a>  
              <a class="dropdown-item" href="/professor">Cadastro de Professores</a >
              <a class="dropdown-item" href="/avaliacaoaluno" > Avaliação aluno</a >
              <a class="dropdown-item" href="/disciplinacurso"> Disciplina curso</a >
              <a class="dropdown-item" href="/turmacurso" >turma curso</a>
              <a class="dropdown-item" href="/professordisciplina"  > Professor Disciplina</a >
              
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink2"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Módulo de Gestão Administrativa
            </a>
            <div
              class="dropdown-menu"
              aria-labelledby="navbarDropdownMenuLink2"
            >
              <a class="dropdown-item" href="/coordenador">Cadastro de Coordenadores</a >
              <a class="dropdown-item" href="/pagamento">Controle Financeiro</a>
              <a class="dropdown-item" href="/pagamentoaluno"> Pagamento-Aluno</a >
              <a class="dropdown-item" href="/coordenadorcurso">coordenador curso</a>
              

             
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
